{% extends "webpage/base.html"%}
{% load static %}
{% block content%}

      <h1>About Junction</h1>
      <p>Junction is basically a platform where people can provide service and get service. On the straightway this is a freelancing website which will be to much easy to understand and operate.</p>
      
     <!-- <img src="joy.jpg" width="700" height="400"> -->
	<img src="{% static 'webpage/pns.png' %}" alt="maleha" width="750" height="450">     


      <h3>Motivations</h3>
      <p>
      	Main goal of our web app is dealing with getting efficient service within from efficient workers.
From another eye-sight, this is also helpful for common workers because they only work from a shop or a place. But Junction is a platform where he can get many works from his location.
Junction is here because we want to make them visible and easily accessible in case of any emergency need. We can reach the common workers and they will get more work opportunity day by day.
      </p>
{% endblock content%}